form{
    color: white;
    display: flex;
    margin: 50px 400px;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: 2px brown solid;
    border-radius: 10%;
    transform: sc;
   
}
label, input{
    padding: 10px;
}
input, textarea{
    margin: 0 auto;
    width: 50%;
    padding: 8px;
}
button{
    color: brown;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    width: 50%;
    font-size: 20px;
    font-family: fantasy;
    
}
button:hover{
  background: tomato;
  
  

}